
body {
  font-family: 'Poppins', sans-serif;
;
}

html,body{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    overflow-x: hidden;
    position: relative;
    vertical-align: baseline;
    background-color: #00bfff;
}


.about,.skills,
.education,.languages,
.contact,.experience{
    padding: 40px;
    min-height: 100px;
}



.education, .language,
.contact, .experience{
    margin-top: 30px;
}



header{
    text-align: center;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 160px;
    padding-bottom: 140px;
}

header img{
    display: inline-block;
    padding: 5px;
    width: 200px;
height: 200px;
border-radius: 50%;
}


header h2{
    padding-top: 40px;
}


.about{
    background: white;
    color: #4682B4;
}


.skills{
    background: #3366cc;
    color: #4682B4;
}

.education{
    background: #4169E1;
    color: #4682B4;
}



.education .education-content{
    padding-bottom: 14px;
}


.education h5{
    display: inline-block;
}

.education span{
    margin-right: 10px;
    padding-left: 20px;
}


.languages{
    background: white;
    margin-top: 27px;
}


.languages ul{
    padding: 10px;
}


.languages ul li{
    padding-bottom: 6px;
}

table {
   border: 1px solid #69c;
   border-collapse: separate;
   empty-cells: hide;
}
th, td {
   border: 2px solid #69c;
}

table {
   width: 300px;
}
th {
   width: 20%;
}
td:first-child {
   width: 30%;
}

.contact{
    background: white;
    
}


.experience{
    background: #3366cc;
    color: #f5f5f5;
}


.experience-content{
    padding-bottom: 14px;
}


.experience h5{
    display: inline-block;
}




.experience span{
    padding-right: 10px;
    padding-left: 20px;
}











